# Coding Best Practices

In [ ]:
# 1. Maintain clean and conscise scripts
# 2. Avoid the Overwrite (

# df_sales_new = 

# 3. store useful resources (Raindrop)
# clear
# stop a procedure from executing

# Using Excel like Python

## Crosstabs in Python

In [10]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [8]:
# create a string folderpath
folderpath = r'C:\Users\Bamidele\Desktop\Training_content\March 2025 - Data Analytics Cohort\Python\Istacart Basket Project'

In [12]:
# importing merged dataframe  using the folder os.path.join
ords_prods_merge = pd.read_pickle(os.path.join(folderpath, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [14]:
# creating 
np.random.seed(4)

In [16]:
dev = np.random.rand(len(ords_prods_merge) ) <= 0.7

In [18]:
# # create big and small subset
# # for big
big = ords_prods_merge[dev]

In [19]:
# create small subset
small = ords_prods_merge[~dev]

In [22]:
ords_prods_merge.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day
0,1107.0,38259.0,prior,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders
1,5319.0,196224.0,prior,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,Mid-range product,Regularly busy,Most orders

In [24]:
# check days since last prior and order dow
crosstab = pd.crosstab( ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_dow'], dropna = False  )
crosstab.to_clipboard()

In [26]:
# check days since last prior and order dow
crosstab = pd.crosstab( ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_dow'], dropna = False  )
# crosstab.to_clipboard()

In [28]:
crosstab

order_dow,0.0,1.0,2.0,3.0,4.0,5.0,6.0,NaN
days_since_prior_order,,,,,,,,
0.0,66100,83335,62994,60448,61109,65422,52611,0
1.0,128443,127816,169452,143661,134649,135255,106090,0
2.0,219735,176982,194484,268901,224888,223437,161939,0
3.0,288160,309662,199938,261461,324808,281659,218548,0
4.0,329906,366812,282509,218797,289379,354646,245734,0
5.0,352511,377338,289232,266618,226228,323624,298708,0
6.0,480449,427097,281373,261330,276196,293929,509366,0
7.0,1329929,1059941,592633,521368,528236,702665,837327,0
8.0,413061,367630,317118,210463,193789,207807,232435,0
9.0,208251,181835,199194,196215,155823,148146,135531,0
10.0,151490,178969,114640,144837,145431,124563,113230,0
11.0,133606,146212,117806,91185,114523,124070,98705,0
12.0,130779,142036,105031,91344,79516,118560,112406,0
13.0,167352,149454,101935,85172,80935,94662,177837,0
14.0,289305,200509,110336,87874,85144,107224,157406,0
15.0,142882,134125,115646,75560,67436,65530,75617,0
16.0,73815,70144,80613,76823,59417,53196,51320,0
17.0,59467,67705,48386,60672,58360,47517,43329,0
18.0,55659,60510,50124,40306,52227,52299,42620,0
19.0,57499,60268,44711,39256,35768,51133,49513,0
20.0,75854,66571,45448,37565,36552,40896,80558,0
21.0,126626,84927,49715,39532,36316,43523,68139,0
22.0,66059,65745,51251,35264,30776,29075,33837,0
23.0,36992,34435,39424,38759,29734,25843,23104,0
24.0,30182,32076,24962,30786,30226,24133,23238,0
25.0,29156,31247,25333,19703,26472,28545,22040,0
26.0,30807,32743,23829,21225,17775,26717,26755,0
27.0,42165,33939,25538,21302,18562,22280,42807,0
28.0,72938,47308,29646,23645,20022,25251,37492,0
29.0,37234,36381,30110,19998,17335,17145,19658,0
30.0,626529,542972,419762,378677,354758,378237,432404,0
NaN,0,0,0,0,0,0,0,11

In [ ]:
#