# 4.6B Merging and exporting data

### This script contains the following points:

### 01. Importing libraries
### 02. Importing data frames
### 03. Combining products dataset with order products combined
### 04. Exporting the data

# 01. Importing libraries

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Dataframes

In [7]:
# create a string folderpath
folderpath = r'C:\Users\Bamidele\Desktop\Training_content\March 2025 - Data Analytics Cohort\Python\Istacart Basket Project'

In [8]:
# importing merged dataframe  using the folder os.path.join
df_orders_prod_combined = pd.read_pickle(os.path.join(folderpath, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [9]:
# check orders output
df_orders_prod_combined.shape

(32640698, 11)

In [10]:
# Import wrangled products data 
prod_wrangled = pd.read_csv( os.path.join(folderpath, '02 Data', 'Prepared Data', 'products_checked.csv'   ) )

In [11]:
#Check product output
prod_wrangled.shape

(49672, 6)

# 03. Combining products dataset with order products combined

In [13]:
# lets check the two dataframe heads

df_orders_prod_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,train,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both

In [14]:
# drop the _merge column
df_orders_prod_combined = df_orders_prod_combined.drop(columns = '_merge' )

In [15]:
prod_wrangled.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Drop the Unnamed: 0 column
prod_wrangled = prod_wrangled.drop(columns = ['Unnamed: 0'])

In [17]:
# Merge the orders, product, and combine dataframes together
df_full_merge = df_orders_prod_combined.merge(prod_wrangled, on = 'product_id', how = 'outer', indicator= True  )

In [18]:
# confirming the merge 
df_full_merge['_merge'].value_counts()

_merge
both          32404859
left_only       236409
right_only          11
Name: count, dtype: int64

In [19]:
df_full_merge.shape

(32641279, 15)

In [40]:
df_full_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,1107.0,38259.0,prior,2.0,1.0,11.0,7.0,1.0,7.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
1,5319.0,196224.0,prior,65.0,1.0,14.0,1.0,1.0,3.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
2,7540.0,138499.0,prior,8.0,0.0,14.0,7.0,1.0,4.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
3,9228.0,79603.0,prior,2.0,2.0,10.0,30.0,1.0,2.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both
4,9273.0,50005.0,prior,1.0,1.0,15.0,7.0,1.0,30.0,0.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,both

# Export Data as a Pickle File Format

In [21]:
# Export your cleaned dataframe to the prepared folder
df_full_merge.to_pickle(os.path.join(folderpath, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl') )

#### Prepared By Bams